@tailwind base;
@tailwind components;
@tailwind utilities;

.border-dashed {
  background: linear-gradient(90deg, rgb(255, 255, 255) 50%, transparent 50%),
    linear-gradient(90deg, rgb(255, 255, 255) 50%, transparent 50%),
    linear-gradient(0deg, rgb(255, 255, 255) 50%, transparent 50%),
    linear-gradient(0deg, rgb(255, 255, 255) 50%, transparent 50%),
    hsla(223, 25%, 46%, 0.60);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 112px 112px, 0px 112px, 112px 0px;
  animation: border-dance 1s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }

  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px,
      right top 15px;
  }
}
