@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
}
/* html {
  width: 100vw;
} */

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  border: 1px solid red;
} */
